LISTS

In [43]:
#1.	    Declare an empty list 
empty_list = []

#2.	    Declare a list with more than 5 items 
five_items = ['Karachi', 'Lahore', 'Islamabad', 'Skardu', 'Kashmir']

#3.	    Find the length of your list 
print("Length of my list is:", len(five_items))

#4.	    Get the first item, the middle item and the last item of the list
print("First item is:", five_items[0])
print("Middle item is:", five_items[2])
print("Last item is:", five_items[-1])

#5.	    Declare a list called mixed_data_types, put your (name, age, height, marital status, address)
mixed_data_types = ["Muhammad Usman", 31, 178, "Single", "PAF Base, Risalpur"]

#6.	    Declare a list variable named IT_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon, Print the list using print() and Print the number of companies in the list
IT_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
print("IT Comapanies =", IT_companies)
print('Number of companies in the list is:', len(IT_companies))

#7.	    Print the first, middle and last company 
print("First company is:", IT_companies[0])
print("Middle company is:", IT_companies[3])
print("Last company is:", IT_companies[-1])

#8.	    Print the list after modifying one of the companies
IT_companies[4] = 'AMD'
print(IT_companies)

#9.	    Add an IT company to IT_companies 
IT_companies.append('Nvidia')
print(IT_companies)

#10.	Insert an IT company in the middle of the companies list
IT_companies.insert(4, "Intel")
print(IT_companies)

#11.	Change one of the IT_companies names to uppercase (IBM excluded!)
upper = IT_companies[4].upper()
print(upper)

#12.	Sort the list using sort () method
IT_companies.sort()
print(IT_companies)

#13.	Reverse the list in descending order using reverse() method
IT_companies.reverse()
print(IT_companies)

#14.	Slice out the first 3 companies from the list
print(IT_companies[:3])

#15.	Slice out the last 3 companies from the list
print(IT_companies[-3:])

#16.	Slice out the middle IT company or companies from the list
mid_index = int(len(IT_companies)/2)
print(IT_companies[mid_index]) '''if list is even will print middle two elements by len(x)/2-1, len(x)/2 as indices'''

#17.	Remove the first IT company from the list
IT_companies.remove(IT_companies[0]) #pop can be used but it returns the removed element as well
print(IT_companies)

#18.	Remove the middle IT company or companies from the list
print(len(IT_companies)) '''now we know the list is 8 elements long, so we can remove 4th and 5th element'''
del IT_companies[3:5]
print(IT_companies)

#19.	Remove the last IT company from the list
del IT_companies[-1]
print(IT_companies)

#20.	Remove all IT companies from the list
IT_companies.clear()
print(IT_companies)

#21.    Destroy the IT companies list
del IT_companies

#22.	Join the following lists: 
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB'] 
joined_list = front_end + back_end

#24.	After joining the lists in question 22. Copy the joined list and assign it to a variable full_stack. Then insert Python and SQL after Redux.
full_stack = joined_list.copy()  '''deep copy to create full_stack independent of joined_list'''
print(full_stack)
print(full_stack.index('Redux'))
full_stack.insert(5, 'Python')
full_stack.insert(6, 'SQL')
print(full_stack)

#25.	The following is a list of 10 students ages: 
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24] 

#27.	Sort the list and find the min and max age
ages.sort()
print(ages)
min_age = min(ages)
print('Minimum age in the list:', min_age, 'yrs')
max_age = max(ages)
print('Maximum age in the list:', max_age, 'yrs')

#28.	Add the min age and the max age again to the list 
ages.append(min_age)
ages.append(max_age)
print(ages)

#29.	Find the median age (one middle item or two middle items divided by two) 
print(len(ages))  '''now we know list has even elements without using if statement'''

mid_element_1 = ages[int(len(ages)/2-1)]
mid_element_2 = ages[int(len(ages)/2)]
median = (mid_element_1 + mid_element_2)/2
print('Median age is:', median, 'yrs')

#30.	Find the average age (sum of all items divided by their number)
# Average = sum/length
sum_ages = sum(ages)
average_age = sum_ages/len(ages)
print('Average age is:', average_age, 'yrs')

#31.	Find the range of the ages (max minus min)
range_ages = max_age - min_age
print('Range of ages is:', range_ages, 'yrs')

#32.	Compare the value of (min - average) and (max - average), use abs () method
min_avg = abs(min_age - average_age)
print(min_avg, 'yrs')
max_avg = abs(max_age - average_age)
print(max_avg, 'yrs')

#33.	Find the middle country(ies) in the countries list
countries = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
mid_country_index = int(len(countries)/2)
print(countries[mid_country_index])

#34.	Divide the countries list into two equal lists if it is even if not one more country for the first half.
first_half = countries[:4]
print(first_half)
second_half = countries[-3:]
print(second_half)
#35.	['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']. Unpack the first three countries and the rest as scandic countries.
first, second, third, *scandic = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
print(first)
print(second)
print(third)
print(scandic)

Length of my list is: 5
First item is: Karachi
Middle item is: Islamabad
Last item is: Kashmir
IT Comapanies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
Number of companies in the list is: 7
First company is: Facebook
Middle company is: Apple
Last company is: Amazon
['Facebook', 'Google', 'Microsoft', 'Apple', 'AMD', 'Oracle', 'Amazon']
['Facebook', 'Google', 'Microsoft', 'Apple', 'AMD', 'Oracle', 'Amazon', 'Nvidia']
['Facebook', 'Google', 'Microsoft', 'Apple', 'Intel', 'AMD', 'Oracle', 'Amazon', 'Nvidia']
INTEL
['AMD', 'Amazon', 'Apple', 'Facebook', 'Google', 'Intel', 'Microsoft', 'Nvidia', 'Oracle']
['Oracle', 'Nvidia', 'Microsoft', 'Intel', 'Google', 'Facebook', 'Apple', 'Amazon', 'AMD']
['Oracle', 'Nvidia', 'Microsoft']
['Apple', 'Amazon', 'AMD']
Google
['Nvidia', 'Microsoft', 'Intel', 'Google', 'Facebook', 'Apple', 'Amazon', 'AMD']
8
['Nvidia', 'Microsoft', 'Intel', 'Apple', 'Amazon', 'AMD']
['Nvidia', 'Microsoft', 'Intel', 'Apple', 'Amazon']
[]
['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']
4
['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']
[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Minimum age in the list: 19 yrs
Maximum age in the list: 26 yrs
[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
12
Median age is: 24.0 yrs
Average age is: 22.75 yrs
Range of ages is: 7 yrs
3.75 yrs
3.25 yrs
Finland
['China', 'Russia', 'USA', 'Finland']
['Sweden', 'Norway', 'Denmark']
China
Russia
USA
['Finland', 'Sweden', 'Norway', 'Denmark']

TUPLES

In [64]:
#1. Create an empty tuple 
empty_tuple = ()

#2. Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)
brothers = ('Ali', 'Saad')
sisters = ('Amara', 'Ayesha')

#3. Join brothers and sisters tuples and assign it to siblings
siblings = brothers + sisters
print(siblings)

#4. How many siblings do you have?
print('I have', len(siblings), 'siblings')

#5. Modify the siblings tuple and add the name of your father and mother and assign it to family_members.
'''Tuples are immutable, however, I can typecast and then add.'''
siblings_list = list(siblings)
parents = ['Maroof', 'Hajra']
family_members = tuple(siblings_list + parents)
print(family_members)

#6. Unpack siblings and parents from family_members
sib1, sib2, sib3, sib4, *parents = family_members
siblings = [sib1, sib2, sib3, sib4]
print(parents)
print(siblings)

#7. Create fruits, vegetables and animal products tuples. Join the three tuples and assign it to a variable called food_stuff_tp.
fruits = ('apple', 'kiwi', 'pear')
vegetables = ('onion','garlic','carrot')
animal_products = ('milk', 'eggs', 'meat')

food_stuff_tp = fruits + vegetables + animal_products
print(food_stuff_tp)

#8. Change the about food_stuff_tp tuple to a food_stuff_lt list 
food_stuff_lt = list(food_stuff_tp)
print(food_stuff_lt)

#9. Slice out the middle item or items from the food_stuff_tp tuple or food_stuff_lt list. 
print(len(food_stuff_tp))
mid_item = food_stuff_tp[4:5] '''slicing 5th element at index-4'''
print(mid_item)

#10. Slice out the first three items and the last three items from food_staff_lt list
first_three = food_stuff_lt[:3]
print(first_three)
last_three = food_stuff_lt[-3:]
print(last_three)

#11. Delete the food_staff_tp tuple completely.
del food_stuff_tp

('Ali', 'Saad', 'Amara', 'Ayesha')
I have 4 siblings
('Ali', 'Saad', 'Amara', 'Ayesha', 'Maroof', 'Hajra')
['Maroof', 'Hajra']
['Ali', 'Saad', 'Amara', 'Ayesha']
('apple', 'kiwi', 'pear', 'onion', 'garlic', 'carrot', 'milk', 'eggs', 'meat')
['apple', 'kiwi', 'pear', 'onion', 'garlic', 'carrot', 'milk', 'eggs', 'meat']
9
('garlic',)
['apple', 'kiwi', 'pear']
['milk', 'eggs', 'meat']

SETS

In [92]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24] 
#1. Find the length of the set it_companies
print(len(it_companies))

#2. Add 'Twitter' to it_companies.
it_companies.add('Twitter')
print(it_companies)

#3. Insert multiple IT companies at once to the set it_companies
multiple_companies = {'AMD', 'Intel', 'Nvidia'}
it_companies.update(multiple_companies)
print(it_companies)

#4. Remove one of the companies from the set it_companies 
it_companies.remove('Nvidia')
print(it_companies)

#5. What is the difference between remove and discard? 
'''remove() raises an error if it's the item to remove is not in the set, whereas, discard() raises no such error.'''


#6. Join A and B
A_union_B = A | B
print(A_union_B)

#7. Find A intersection B
A_intersection_B = A & B
print(A_intersection_B)

#8. Is A subset of B 
print('A is subset of B?', A.issubset(B))

#9. Are A and B disjoint sets
print('A and B are disjoint sets?', A.isdisjoint(B))
#10. Join A with B and B with A 
A_with_B = A | B
print(A_with_B)
B_with_A = B | A
print(B_with_A)

#11. What is the symmetric difference between A and B 
symmetric_difference = A ^ B  
'''symmetric difference removes the common items from both sets and only return unique items in a combined set.'''
print(symmetric_difference)

#12. Delete the sets completely 
del A

#13. Convert the ages to a set and compare the length of the list and the set, which one is bigger?
ages_set = set(ages)
print('Length of ages list:', len(ages))
print('Length of ages set:', len(ages_set))
print('Ages list is bigger' if len(ages) > len(ages_set) else 'Ages set is bigger')

#14. Explain the difference between the following data types: string, list, tuple and set
'''String is the data type used to store textual data, we can call it a character array. It is iterable but immutable.
List is a data structure that can store heterogenous data elements, it is iterable as well as mutable"
Tuple is an ordered and unchangeable collection of multiple items
Set is an unordered collection of unique elements which are immutable but the set itself is mutable.'''

7
{'Facebook', 'Google', 'Amazon', 'Oracle', 'IBM', 'Apple', 'Microsoft', 'Twitter'}
{'Facebook', 'Amazon', 'Intel', 'AMD', 'Nvidia', 'Apple', 'Twitter', 'Google', 'Oracle', 'IBM', 'Microsoft'}
{'Facebook', 'Amazon', 'Intel', 'AMD', 'Apple', 'Twitter', 'Google', 'Oracle', 'IBM', 'Microsoft'}
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26}
A is subset of B? True
A and B are disjoint sets? False
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}
{27, 28}
Length of ages list: 12
Length of ages set: 6
Ages list is bigger